html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
}

#areaTabla {
	height:500px;
}

#categoria {
	margin-top:50px;
}

.descripcion {
	border:1px solid #000;
}

#categoria {
	border:1px solid #000;
}

.prodsel {
	background-color:#CADCDE;
}
